{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin: 30px">Toutes les séries de la table program : </h1>
    {% if programs is defined %}
        <div class="row row-cols-1 row-cols-md-4 g-4" style=" margin-bottom: 100px">
            {% for program in programs %}
                <div class="col">
                    <div class="card h-100" style="height: 25rem;">
                        <div class="card-header bg-transparent border border-0" style="text-align: center;">
                            {{ program.title }}
                        </div>
                        {% if program.poster is empty %}
                            {% set poster =  'build/images/program/poster/no_poster.png' %}
                        {% else %}
                            {% set poster = program.poster %}
                            {{ dump(program.poster) }}
                        {% endif %}
                        <img src="{{ asset(poster) }}" class="card-img-top" alt="{{ program.title }}">
                        <div class="card-body">
                            <p class="card-text">{{ program.synopsis }}</p>
                        </div>
                        <div style="text-align: center; margin-bottom:30px ">
                            <a href="{{ path('program_show', { id: program.id }) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        Aucune série trouvée.
    {% endif %}
        {#<a href="{{ path('app_index') }}">#}
        {#    Retour à l'accueil#}
        {#</a>#}

{% endblock %}
