{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }} Season {{ season.id }}{% endblock %}

{% block body %}


    <h1> {{ 'Saison ' ~ season.number ~ ' de ' ~ season.program.title }}</h1>

    {% if season is defined %}
        <div class="row row-cols-1 row-cols-md-4 g-4" style=" margin-bottom: 100px; width: 95%">
            {% for episodeSeason in season.episodes %}
                <div class="col">
                    <div class="card h-100" style="height: 25rem;">
                        <div class="card-header bg-transparent " style="text-align: center;">
                            {{'Episode ' ~ episodeSeason.number ~ ' : ' ~ episodeSeason.title }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ episodeSeason.synopsis }}</p>
                        </div>
                        <div style="text-align: center; margin-bottom:30px ">
                            <a href="{{ path('program_episode_show', { programId: program.id, seasonId:season.id, episodeId:episodeSeason.id }) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        Aucun episode trouver.
    {% endif %}


    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>


{% endblock %}