{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
        {% if program.poster is empty %}
            {% set poster =  'build/images/program/poster/no_poster.png' %}
        {% else %}
            {% set poster = program.poster %}
        {% endif %}

    <div style="margin:50px;display: flex; justify-content: center">
        <div class="card mb-3" style="max-width: 95%;">
            <div  class="row g-0">
                <div class="col-md-4">
                    <img style="width: 100%;height:auto;" src="{{ asset(poster) }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ program.title }}</h5>
                        <p class="card-text">{{ program.synopsis }}</p>
                        <p class="card-text">Duree de visionnage : {{ programDuration }}</p>
                        <strong>Acteurs :</strong>
                        <ul>
                            {% for actor in program.actors %}
                                <a href=" {{ path('actor_show', { id : actor.id }) }}">
                                    <li>{{ actor.firstname ~ " " ~actor.lastname }}</li>
                                </a>
                            {% else %}
                                <li>Aucun acteur pour cette série</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <div style="margin-top:10px; text-align: center">
                {% for programSeason in program.seasons %}
                    <a href="{{ path('program_season_show',{programId: program.id, seasonId: programSeason.id}) }}">
                        <button class="btn btn-primary" style="margin-bottom: 3px">
                            {{ 'saison '~ programSeason.number}}
                        </button>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}